{% extends 'base.html.twig' %}

{% block title %}Bands User A list{% endblock %}

{% block body %}
    <h1>Select User A</h1>

    <table class="table table-striped">
        <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.name }}</td>
                <td><a href="{{ path('connection_user_b',{'bandId': bandId, 'userAId': user.user_id}) }}">Select</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
